In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from pandas.tseries.offsets import *
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# description of the feature:
# Traffic Volume through the Tollgates
# time           datatime        the time when a vehicle passes the tollgate
# tollgate_id    string          ID of the tollgate
# direction      string           0:entry, 1:exit
# vehicle_model  int             this number ranges from 0 to 7, which indicates the capacity of the vehicle(bigger the higher)
# has_etc        string          does the vehicle use ETC (Electronic Toll Collection) device? 0: No, 1: Yes
# vehicle_type   string          vehicle type: 0-passenger vehicle, 1-cargo vehicle
volume_df = pd.read_csv("volume(table 6)_training.csv")
volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-09-19 23:09:25,2,0,1,0,NaN
1,2016-09-19 23:11:53,2,0,1,0,NaN
2,2016-09-19 23:13:54,2,0,1,0,NaN
3,2016-09-19 23:17:48,1,0,1,1,NaN
4,2016-09-19 23:16:07,2,0,1,0,NaN

In [3]:
# 替换所有有标签含义的数字
volume_df['tollgate_id'] = volume_df['tollgate_id'].replace({1:"1S", 2:"2S", 3:"3S"})
volume_df['direction'] = volume_df['direction'].replace({0:"entry", 1:"exit"})
volume_df['has_etc'] = volume_df['has_etc'].replace({0:"No", 1:"Yes"})
volume_df['vehicle_type'] = volume_df['vehicle_type'].replace({0:"passenger", 1:"carge"})
volume_df['time'] = volume_df['time'].apply(lambda x: pd.Timestamp(x))
volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-09-19 23:09:25,2S,entry,1,No,NaN
1,2016-09-19 23:11:53,2S,entry,1,No,NaN
2,2016-09-19 23:13:54,2S,entry,1,No,NaN
3,2016-09-19 23:17:48,1S,entry,1,Yes,NaN
4,2016-09-19 23:16:07,2S,entry,1,No,NaN

In [4]:
# 承载量：1-默认客车，2-默认货车，3-默认货车，4-默认客车
# 承载量大于等于5的为货运汽车，所有承载量为0的车都类型不明
volume_df = volume_df.sort_values(by="vehicle_model")
vehicle_model0 = volume_df[volume_df['vehicle_model'] == 0].fillna("No")
vehicle_model1 = volume_df[volume_df['vehicle_model'] == 1].fillna("passenger")
vehicle_model2 = volume_df[volume_df['vehicle_model'] == 2].fillna("carge")
vehicle_model3 = volume_df[volume_df['vehicle_model'] == 3].fillna("carge")
vehicle_model4 = volume_df[volume_df['vehicle_model'] == 4].fillna("passenger")
vehicle_model5 = volume_df[volume_df['vehicle_model'] >= 5].fillna("carge")
volume_df = pd.concat([vehicle_model0, vehicle_model1, vehicle_model2, vehicle_model3, vehicle_model4, vehicle_model5])
volume_df[volume_df.isnull()].count()

time             0
tollgate_id      0
direction        0
vehicle_model    0
has_etc          0
vehicle_type     0
dtype: int64

In [5]:
# 创建之和流量，20分钟跨度有关系的训练集
# volume_time_entry = pd.Series(data = 1, index=volume_df.loc[(volume_df['tollgate_id']=="1S") & (volume_df['direction']=="entry"), :]['time'])
# volume_time_entry = volume_time_entry.resample("20T").sum()
# volume_entry = pd.DataFrame(index=volume_time_entry.index)
# volume_entry['volume'] = np.log(volume_time_entry)

# volume_time_exit = pd.Series(data = 1, index=volume_df.loc[(volume_df['tollgate_id']=="1S") & (volume_df['direction']=="exit"), :]['time'])
# volume_time_exit = volume_time_exit.resample("20T").sum()
# volume_exit = pd.DataFrame(index=volume_time_exit.index)
# volume_exit['volume'] = np.log(volume_time_exit)
# volume_exit
volume_all_entry = volume_df.loc[(volume_df['tollgate_id']=='1S') & (volume_df['direction']=='entry'), ["time", "vehicle_model"]]
volume_all_entry['volume'] = 1
volume_all_entry['carge_count'] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "carge" else 0)
volume_all_entry['passenger_count'] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "passenger" else 0)
volume_all_entry['no_count'] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "No" else 0)
volume_all_entry["cargo_model"] = volume_all_entry["cargo_count"] * volume_all_entry["vehicle_model"]
volume_all_entry["passenger_model"] = volume_all_entry["passenger_count"] * volume_all_entry["vehicle_model"]
volume_all_entry.index = volume_all_entry["time"]
del volume_all_entry["time"]
volume_all_entry = volume_all_entry.resample("20T").sum()
volume_all_entry["cargo_model_avg"] = volume_all_entry["cargo_model"] / volume_all_entry["cargo_count"]
volume_all_entry["passenger_model_avg"] = volume_all_entry["passenger_model"] / volume_all_entry["passenger_count"]
volume_all_entry["vehicle_model_avg"] = volume_all_entry["vehicle_model"] / volume_all_entry["volume"]
volume_all_entry = volume_all_entry.fillna(0)

volume_all_exit = volume_df.loc[(volume_df['tollgate_id']=='1S') & (volume_df['direction']=='exit'), ["time", "vehicle_model"]]
volume_all_exit["volume"] = 1
volume_all_exit["carge_count"] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "carge" else 0)
volume_all_exit["passenger_count"] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "passenger" else 0)
volume_all_exit["no_count"] = volume_df['vehicle_type'].apply(lambda x: 1 if x == "No" else 0)
volume_all_exit["cargo_model"] = volume_all_exit["cargo_count"] * volume_all_exit["vehicle_model"]
volume_all_exit["passenger_model"] = volume_all_exit["passenger_count"] * volume_all_exit["vehicle_model"]
volume_all_exit.index = volume_all_exit["time"]
del volume_all_exit["time"]
volume_all_exit = volume_all_exit.resample("20T").sum()
volume_all_exit["cargo_model_avg"] = volume_all_exit["cargo_model"] / volume_all_exit["cargo_count"]
volume_all_exit["passenger_model_avg"] = volume_all_exit["passenger_model"] / volume_all_exit["passenger_count"]
volume_all_exit["vehicle_model_avg"] = volume_all_exit["vehicle_model"] / volume_all_exit["volume"]
volume_all_exit = volume_all_exit.fillna(0)

volume_all_exit

,vehicle_model,volume,cargo_count,passenger_count,no_count,cargo_model,passenger_model,cargo_model_avg,passenger_model_avg,vehicle_model_avg
time,,,,,,,,,,
2016-09-19 00:00:00,181.0,140.0,31.0,109.0,0.0,63.0,118.0,2.032258,1.082569,1.292857
2016-09-19 00:20:00,97.0,56.0,16.0,40.0,0.0,39.0,58.0,2.437500,1.450000,1.732143
2016-09-19 00:40:00,46.0,31.0,11.0,20.0,0.0,21.0,25.0,1.909091,1.250000,1.483871
2016-09-19 01:00:00,5.0,4.0,2.0,2.0,0.0,3.0,2.0,1.500000,1.000000,1.250000
2016-09-19 01:20:00,25.0,14.0,6.0,8.0,0.0,17.0,8.0,2.833333,1.000000,1.785714
2016-09-19 01:40:00,10.0,7.0,3.0,4.0,0.0,6.0,4.0,2.000000,1.000000,1.428571
2016-09-19 02:00:00,16.0,7.0,5.0,2.0,0.0,14.0,2.0,2.800000,1.000000,2.285714
2016-09-19 02:20:00,15.0,7.0,5.0,2.0,0.0,13.0,2.0,2.600000,1.000000,2.142857
2016-09-19 02:40:00,15.0,10.0,4.0,6.0,0.0,9.0,6.0,2.250000,1.000000,1.500000
2016-09-19 03:00:00,14.0,10.0,6.0,4.0,0.0,10.0,4.0,1.666667,1.000000,1.400000
2016-09-19 03:20:00,29.0,14.0,13.0,1.0,0.0,28.0,1.0,2.153846,1.000000,2.071429
2016-09-19 03:40:00,30.0,20.0,13.0,7.0,0.0,23.0,7.0,1.769231,1.000000,1.500000
2016-09-19 04:00:00,18.0,18.0,10.0,8.0,0.0,10.0,8.0,1.000000,1.000000,1.000000
2016-09-19 04:20:00,29.0,17.0,10.0,7.0,0.0,22.0,7.0,2.200000,1.000000,1.705882
2016-09-19 04:40:00,34.0,23.0,15.0,8.0,0.0,26.0,8.0,1.733333,1.000000,1.478261
2016-09-19 05:00:00,38.0,28.0,12.0,16.0,0.0,22.0,16.0,1.833333,1.000000,1.357143
2016-09-19 05:20:00,36.0,24.0,17.0,7.0,0.0,29.0,7.0,1.705882,1.000000,1.500000
2016-09-19 05:40:00,56.0,34.0,18.0,16.0,0.0,40.0,16.0,2.222222,1.000000,1.647059
2016-09-19 06:00:00,64.0,39.0,21.0,18.0,0.0,46.0,18.0,2.190476,1.000000,1.641026
2016-09-19 06:20:00,80.0,57.0,22.0,35.0,0.0,45.0,35.0,2.045455,1.000000,1.403509
2016-09-19 06:40:00,116.0,72.0,33.0,39.0,0.0,76.0,40.0,2.303030,1.025641,1.611111
2016-09-19 07:00:00,97.0,70.0,19.0,51.0,0.0,45.0,52.0,2.368421,1.019608,1.385714
2016-09-19 07:20:00,109.0,83.0,21.0,62.0,0.0,38.0,71.0,1.809524,1.145161,1.313253
2016-09-19 07:40:00,143.0,118.0,19.0,99.0,0.0,39.0,104.0,2.052632,1.050505,1.211864
2016-09-19 08:00:00,144.0,123.0,17.0,106.0,0.0,24.0,120.0,1.411765,1.132075,1.170732
2016-09-19 08:20:00,148.0,119.0,14.0,105.0,0.0,26.0,122.0,1.857143,1.161905,1.243697
2016-09-19 08:40:00,149.0,116.0,20.0,96.0,0.0,35.0,114.0,1.750000,1.187500,1.284483
2016-09-19 09:00:00,133.0,120.0,21.0,99.0,0.0,32.0,101.0,1.523810,1.020202,1.108333
2016-09-19 09:20:00,179.0,151.0,32.0,119.0,0.0,46.0,133.0,1.437500,1.117647,1.185430
2016-09-19 09:40:00,171.0,131.0,37.0,94.0,0.0,75.0,96.0,2.027027,1.021277,1.305344
...,...,...,...,...,...,...,...,...,...,...
2016-10-17 14:00:00,102.0,87.0,24.0,63.0,0.0,33.0,69.0,1.375000,1.095238,1.172414
2016-10-17 14:20:00,111.0,93.0,23.0,70.0,0.0,35.0,76.0,1.521739,1.085714,1.193548
2016-10-17 14:40:00,139.0,109.0,29.0,80.0,0.0,53.0,86.0,1.827586,1.075000,1.275229
2016-10-17 15:00:00,129.0,99.0,20.0,79.0,0.0,45.0,84.0,2.250000,1.063291,1.303030
2016-10-17 15:20:00,125.0,92.0,21.0,71.0,0.0,51.0,74.0,2.428571,1.042254,1.358696
2016-10-17 15:40:00,108.0,89.0,21.0,68.0,0.0,37.0,71.0,1.761905,1.044118,1.213483
2016-10-17 16:00:00,125.0,101.0,15.0,86.0,0.0,28.0,97.0,1.866667,1.127907,1.237624
2016-10-17 16:20:00,130.0,108.0,19.0,89.0,0.0,34.0,96.0,1.789474,1.078652,1.203704
2016-10-17 16:40:00,132.0,104.0,23.0,81.0,0.0,44.0,88.0,1.913043,1.086420,1.269231
2016-10-17 17:00:00,136.0,112.0,17.0,95.0,0.0,32.0,104.0,1.882353,1.094737,1.214286
2016-10-17 17:20:00,155.0,126.0,14.0,112.0,0.0,22.0,133.0,1.571429,1.187500,1.230159
2016-10-17 17:40:00,162.0,130.0,11.0,119.0,0.0,31.0,131.0,2.818182,1.100840,1.246154
2016-10-17 18:00:00,61.0,52.0,8.0,44.0,0.0,17.0,44.0,2.125000,1.000000,1.173077
2016-10-17 18:20:00,102.0,84.0,14.0,70.0,0.0,28.0,74.0,2.000000,1.057143,1.214286
2016-10-17 18:40:00,58.0,49.0,7.0,42.0,0.0,16.0,42.0,2.285714,1.000000,1.183673
2016-10-17 19:00:00,46.0,39.0,5.0,34.0,0.0,11.0,35.0,2.200000,1.029412,1.179487
2016-10-17 19:20:00,51.0,46.0,8.0,38.0,0.0,12.0,39.0,1.500000,1.026316,1.108696
2016-10-17 19:40:00,41.0,33.0,4.0,29.0,0.0,12.0,29.0,3.000000,1.000000,1.242424
2016-10-17 20:00:00,40.0,33.0,7.0,26.0,0.0,14.0,26.0,2.000000,1.000000,1.212121
2016-10-17 20:20:00,41.0,33.0,5.0,28.0,0.0,10.0,31.0,2.000000,1.107143,1.242424
2016-10-17 20:40:00,45.0,33.0,9.0,24.0,0.0,21.0,24.0,2.333333,1.000000,1.363636
2016-10-17 21:00:00,30.0,24.0,1.0,23.0,0.0,5.0,25.0,5.000000,1.086957,1.250000
2016-10-17 21:20:00,38.0,24.0,5.0,19.0,0.0,19.0,19.0,3.800000,1.000000,1.583333
2016-10-17 21:40:00,54.0,31.0,7.0,24.0,0.0,30.0,24.0,4.285714,1.000000,1.741935
2016-10-17 22:00:00,24.0,15.0,6.0,9.0,0.0,15.0,9.0,2.500000,1.000000,1.600000
2016-10-17 22:20:00,22.0,18.0,5.0,13.0,0.0,9.0,13.0,1.800000,1.000000,1.222222
2016-10-17 22:40:00,26.0,19.0,6.0,13.0,0.0,13.0,13.0,2.166667,1.000000,1.368421
2016-10-17 23:00:00,14.0,11.0,4.0,7.0,0.0,7.0,7.0,1.750000,1.000000,1.272727
2016-10-17 23:20:00,21.0,13.0,5.0,8.0,0.0,13.0,8.0,2.600000,1.000000,1.615385
2016-10-17 23:40:00,17.0,10.0,2.0,8.0,0.0,9.0,8.0,4.500000,1.000000,1.700000

In [22]:
# 创建训练集，总的要求就是以前两个小时数据为训练集，用迭代式预测方法
# 例如8点-10点的数据预测10点20,8点-10点20预测10点40……，每一次预测使用的都是独立的（可能模型一样）的模型
# 现在开始构建训练集
# 第一个训练集特征是所有两个小时（以20分钟为一个单位）的数据，因变量是该两小时之后20分钟的流量
# 第二个训练集，特征是所有两个小时又20分钟（以20分钟为一个单位）的数据，因变量是该两个小时之后20分钟的流量
# 以此类推训练12个GBDT模型，其中entry 6个，exit 6个（没调参）
old_index = volume_all_entry.columns
new_index = []
for i in range(6):
    new_index += [item + "%d" % (i) for item in old_index]
new_index.append("y")
models_entry = []
for j in range(6):
    train_df = pd.DataFrame()
    for i in range(len(volume_all_entry) - 6 - j):
#         df_temp = volume_entry.iloc[i:i + 6, 0]
#         df_temp = df_temp.append(pd.Series(volume_entry.iloc[i + 6 + j, 0]))
#         df_temp.index = range(7)
#         train_df = train_df.append(df_temp, ignore_index=True)
        se_temp = pd.Series()
        for k in range(6):
            se_temp = se_temp.append(volume_all_entry.iloc[i + k, :])
        se_temp = se_temp.append(pd.Series(volume_all_entry.iloc[i + 6 + j, :]["volume"]))
        se_temp.index = new_index
        se_temp.name = str(volume_all_entry.iloc[i, :].index)
        train_df = train_df.append(se_temp)
    train_X = train_df.iloc[:, :-1].fillna(0)
    train_y = train_df["y"].fillna(0)
    model = GradientBoostingRegressor()
    model.fit(train_X, train_y)
    models_entry.append(model)

models_exit = []
for j in range(6):
    train_df = pd.DataFrame()
    for i in range(len(volume_all_exit) - 6 - j):
#         df_temp = volume_exit.iloc[i:i + 6, 0]
#         df_temp = df_temp.append(pd.Series(volume_exit.iloc[i + 6 + j, 0]))
#         df_temp.index = range(7)
#         train_df = train_df.append(df_temp, ignore_index=True)
        se_temp = pd.Series()
        for k in range(6):
            se_temp = se_temp.append(volume_all_exit.iloc[i + k, :])
        se_temp = se_temp.append(pd.Series(volume_all_exit.iloc[i + 6 + j, :]["volume"]))
        se_temp.index = new_index
        se_temp.name = str(volume_all_exit.iloc[i, :].index)
        train_df = train_df.append(se_temp)
    train_X = train_df.iloc[:, :-1].fillna(0)
    train_y = train_df["y"].fillna(0)
    model = GradientBoostingRegressor()
    model.fit(train_X, train_y)
    models_exit.append(model)

In [8]:
volume_test = pd.read_csv("../testing_phase1/volume(table 6)_test1.csv")
volume_test.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-10-18 07:59:04,2,0,1,1,NaN
1,2016-10-18 07:59:31,2,0,1,1,NaN
2,2016-10-18 07:59:50,2,0,1,1,NaN
3,2016-10-18 07:32:33,3,0,1,1,NaN
4,2016-10-18 07:32:46,3,0,1,1,NaN

In [9]:
# 替换所有有标签含义的数字
volume_test['tollgate_id'] = volume_test['tollgate_id'].replace({1:"1S", 2:"2S", 3:"3S"})
volume_test['direction'] = volume_test['direction'].replace({0:"entry", 1:"exit"})
volume_test['has_etc'] = volume_test['has_etc'].replace({0:"No", 1:"Yes"})
volume_test['vehicle_type'] = volume_test['vehicle_type'].replace({0:"passenger", 1:"carge"})
volume_test['time'] = volume_test['time'].apply(lambda x: pd.Timestamp(x))
volume_test.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-10-18 07:59:04,2S,entry,1,Yes,NaN
1,2016-10-18 07:59:31,2S,entry,1,Yes,NaN
2,2016-10-18 07:59:50,2S,entry,1,Yes,NaN
3,2016-10-18 07:32:33,3S,entry,1,Yes,NaN
4,2016-10-18 07:32:46,3S,entry,1,Yes,NaN

In [10]:
# 承载量：1-默认客车，2-默认货车，3-默认货车，4-默认客车
# 承载量大于等于5的为货运汽车，所有承载量为0的车都类型不明
volume_test = volume_test.sort_values(by="vehicle_model")
vehicle_model0 = volume_test[volume_test['vehicle_model'] == 0].fillna("No")
vehicle_model1 = volume_test[volume_test['vehicle_model'] == 1].fillna("passenger")
vehicle_model2 = volume_test[volume_test['vehicle_model'] == 2].fillna("carge")
vehicle_model3 = volume_test[volume_test['vehicle_model'] == 3].fillna("carge")
vehicle_model4 = volume_test[volume_test['vehicle_model'] == 4].fillna("passenger")
vehicle_model5 = volume_test[volume_test['vehicle_model'] >= 5].fillna("carge")
volume_test = pd.concat([vehicle_model0, vehicle_model1, vehicle_model2, vehicle_model3, vehicle_model4, vehicle_model5])
volume_test[volume_test.isnull()].count()

time             0
tollgate_id      0
direction        0
vehicle_model    0
has_etc          0
vehicle_type     0
dtype: int64

In [25]:
# 创建之和流量，20分钟跨度有关系的预测集
# volume_time_entry_test = pd.Series(data = 1, 
#                                    index=volume_test.loc[(volume_test['tollgate_id']=="2S") & (volume_test['direction']=="entry"), :]['time'])
# volume_time_entry_test = volume_time_entry_test.resample("20T").sum()
# volume_entry_test = pd.DataFrame(index=volume_time_entry_test.index)
# volume_entry_test['volume'] = volume_time_entry_test
# volume_entry_test = volume_entry_test.dropna()

# volume_time_exit_test = pd.Series(data = 1, 
#                                   index=volume_test.loc[(volume_test['tollgate_id']=="2S") & (volume_test['direction']=="exit"), :]['time'])
# volume_time_exit_test = volume_time_exit_test.resample("20T").sum()
# volume_exit_test = pd.DataFrame(index=volume_time_exit_test.index)
# volume_exit_test['volume'] = volume_time_exit_test
# volume_exit_test = volume_exit_test.dropna()
volume_entry_test = volume_test.loc[(volume_test['tollgate_id']=="1S") & (volume_test["direction"]=="entry"), ["time", "vehicle_model"]]
volume_entry_test["volume"] = 1
volume_entry_test["carge_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "carge" else 0)
volume_entry_test["passenger_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "passenger" else 0)
volume_entry_test["no_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "No" else 0)
volume_entry_test["carge_model"] = volume_entry_test["carge_count"] * volume_entry_test["vehicle_model"]
volume_entry_test["passenger_model"] = volume_entry_test["passenger_count"] * volume_entry_test["vehicle_model"]
volume_entry_test.index = volume_entry_test["time"]
del volume_entry_test["time"]
volume_entry_test = volume_entry_test.resample("20T").sum()
volume_entry_test = volume_entry_test.dropna()
volume_entry_test["carge_model_avg"] = volume_entry_test["carge_model"] / volume_entry_test["carge_count"]
volume_entry_test["passenger_model_avg"] = volume_entry_test["passenger_model"] / volume_entry_test["passenger_count"]
volume_entry_test["vehicle_model_avg"] = volume_entry_test["vehicle_model"] / volume_entry_test["volume"]
volume_entry_test = volume_entry_test.fillna(0)

volume_exit_test = volume_test.loc[(volume_test['tollgate_id']=="1S") & (volume_test["direction"]=="exit"), ["time", "vehicle_model"]]
volume_exit_test["volume"] = 1
volume_exit_test["carge_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "carge" else 0)
volume_exit_test["passenger_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "passenger" else 0)
volume_exit_test["no_count"] = volume_test["vehicle_type"].apply(lambda x: 1 if x == "No" else 0)
volume_exit_test["carge_model"] = volume_exit_test["carge_count"] * volume_exit_test["vehicle_model"]
volume_exit_test["passenger_model"] = volume_exit_test["passenger_count"] * volume_exit_test["vehicle_model"]
volume_exit_test.index = volume_exit_test["time"]
del volume_exit_test["time"]
volume_exit_test = volume_exit_test.resample("20T").sum()
volume_exit_test = volume_exit_test.dropna()
volume_exit_test["carge_model_avg"] = volume_exit_test["carge_model"] / volume_exit_test["carge_count"]
volume_exit_test["passenger_model_avg"] = volume_exit_test["passenger_model"] / volume_exit_test["passenger_count"]
volume_exit_test["vehicle_model_avg"] = volume_exit_test["vehicle_model"] / volume_exit_test["volume"]
volume_exit_test = volume_exit_test.fillna(0)

In [30]:
volume_entry_test

,vehicle_model,volume,carge_count,passenger_count,no_count,carge_model,passenger_model,carge_model_avg,passenger_model_avg,vehicle_model_avg
time,,,,,,,,,,
2016-10-18 06:00:00,13.0,13.0,0.0,13.0,0.0,0.0,13.0,0.000000,1.000000,1.000000
2016-10-18 06:20:00,21.0,17.0,4.0,13.0,0.0,8.0,13.0,2.000000,1.000000,1.235294
2016-10-18 06:40:00,28.0,21.0,5.0,16.0,0.0,12.0,16.0,2.400000,1.000000,1.333333
2016-10-18 07:00:00,44.0,31.0,7.0,24.0,0.0,14.0,30.0,2.000000,1.250000,1.419355
2016-10-18 07:20:00,31.0,28.0,3.0,25.0,0.0,6.0,25.0,2.000000,1.000000,1.107143
2016-10-18 07:40:00,54.0,47.0,6.0,41.0,0.0,13.0,41.0,2.166667,1.000000,1.148936
2016-10-18 15:00:00,56.0,52.0,4.0,48.0,0.0,8.0,48.0,2.000000,1.000000,1.076923
2016-10-18 15:20:00,40.0,38.0,2.0,36.0,0.0,4.0,36.0,2.000000,1.000000,1.052632
2016-10-18 15:40:00,35.0,35.0,0.0,35.0,0.0,0.0,35.0,0.000000,1.000000,1.000000
2016-10-18 16:00:00,59.0,57.0,2.0,55.0,0.0,4.0,55.0,2.000000,1.000000,1.035088
2016-10-18 16:20:00,50.0,45.0,2.0,43.0,0.0,4.0,46.0,2.000000,1.069767,1.111111
2016-10-18 16:40:00,60.0,53.0,7.0,46.0,0.0,14.0,46.0,2.000000,1.000000,1.132075
2016-10-19 06:00:00,14.0,12.0,2.0,10.0,0.0,4.0,10.0,2.000000,1.000000,1.166667
2016-10-19 06:20:00,19.0,16.0,3.0,13.0,0.0,6.0,13.0,2.000000,1.000000,1.187500
2016-10-19 06:40:00,27.0,17.0,5.0,12.0,0.0,12.0,15.0,2.400000,1.250000,1.588235
2016-10-19 07:00:00,32.0,22.0,6.0,16.0,0.0,13.0,19.0,2.166667,1.187500,1.454545
2016-10-19 07:20:00,43.0,38.0,5.0,33.0,0.0,10.0,33.0,2.000000,1.000000,1.131579
2016-10-19 07:40:00,44.0,41.0,3.0,38.0,0.0,6.0,38.0,2.000000,1.000000,1.073171
2016-10-19 15:00:00,45.0,40.0,5.0,35.0,0.0,10.0,35.0,2.000000,1.000000,1.125000
2016-10-19 15:20:00,37.0,34.0,3.0,31.0,0.0,6.0,31.0,2.000000,1.000000,1.088235
2016-10-19 15:40:00,55.0,50.0,5.0,45.0,0.0,10.0,45.0,2.000000,1.000000,1.100000
2016-10-19 16:00:00,40.0,39.0,1.0,38.0,0.0,2.0,38.0,2.000000,1.000000,1.025641
2016-10-19 16:20:00,44.0,40.0,4.0,36.0,0.0,8.0,36.0,2.000000,1.000000,1.100000
2016-10-19 16:40:00,36.0,36.0,0.0,36.0,0.0,0.0,36.0,0.000000,1.000000,1.000000
2016-10-20 06:00:00,9.0,8.0,1.0,7.0,0.0,2.0,7.0,2.000000,1.000000,1.125000
2016-10-20 06:20:00,17.0,16.0,1.0,15.0,0.0,2.0,15.0,2.000000,1.000000,1.062500
2016-10-20 06:40:00,32.0,23.0,4.0,19.0,0.0,10.0,22.0,2.500000,1.157895,1.391304
2016-10-20 07:00:00,30.0,22.0,5.0,17.0,0.0,10.0,20.0,2.000000,1.176471,1.363636
2016-10-20 07:20:00,35.0,33.0,2.0,31.0,0.0,4.0,31.0,2.000000,1.000000,1.060606
2016-10-20 07:40:00,40.0,37.0,3.0,34.0,0.0,6.0,34.0,2.000000,1.000000,1.081081
...,...,...,...,...,...,...,...,...,...,...
2016-10-22 15:00:00,40.0,37.0,2.0,35.0,0.0,5.0,35.0,2.500000,1.000000,1.081081
2016-10-22 15:20:00,49.0,47.0,2.0,45.0,0.0,4.0,45.0,2.000000,1.000000,1.042553
2016-10-22 15:40:00,53.0,52.0,1.0,51.0,0.0,2.0,51.0,2.000000,1.000000,1.019231
2016-10-22 16:00:00,52.0,47.0,4.0,43.0,0.0,9.0,43.0,2.250000,1.000000,1.106383
2016-10-22 16:20:00,66.0,56.0,4.0,52.0,0.0,11.0,55.0,2.750000,1.057692,1.178571
2016-10-22 16:40:00,62.0,54.0,6.0,48.0,0.0,14.0,48.0,2.333333,1.000000,1.148148
2016-10-23 06:00:00,16.0,13.0,3.0,10.0,0.0,6.0,10.0,2.000000,1.000000,1.230769
2016-10-23 06:20:00,16.0,10.0,6.0,4.0,0.0,12.0,4.0,2.000000,1.000000,1.600000
2016-10-23 06:40:00,14.0,8.0,4.0,4.0,0.0,10.0,4.0,2.500000,1.000000,1.750000
2016-10-23 07:00:00,20.0,17.0,3.0,14.0,0.0,6.0,14.0,2.000000,1.000000,1.176471
2016-10-23 07:20:00,31.0,24.0,6.0,18.0,0.0,13.0,18.0,2.166667,1.000000,1.291667
2016-10-23 07:40:00,33.0,30.0,3.0,27.0,0.0,6.0,27.0,2.000000,1.000000,1.100000
2016-10-23 15:00:00,65.0,61.0,4.0,57.0,0.0,8.0,57.0,2.000000,1.000000,1.065574
2016-10-23 15:20:00,72.0,65.0,2.0,63.0,0.0,6.0,66.0,3.000000,1.047619,1.107692
2016-10-23 15:40:00,68.0,61.0,3.0,58.0,0.0,7.0,61.0,2.333333,1.051724,1.114754
2016-10-23 16:00:00,62.0,60.0,2.0,58.0,0.0,4.0,58.0,2.000000,1.000000,1.033333
2016-10-23 16:20:00,61.0,58.0,3.0,55.0,0.0,6.0,55.0,2.000000,1.000000,1.051724
2016-10-23 16:40:00,69.0,62.0,3.0,59.0,0.0,7.0,62.0,2.333333,1.050847,1.112903
2016-10-24 06:00:00,24.0,18.0,6.0,12.0,0.0,12.0,12.0,2.000000,1.000000,1.333333
2016-10-24 06:20:00,24.0,21.0,3.0,18.0,0.0,6.0,18.0,2.000000,1.000000,1.142857
2016-10-24 06:40:00,29.0,24.0,3.0,21.0,0.0,8.0,21.0,2.666667,1.000000,1.208333
2016-10-24 07:00:00,43.0,35.0,2.0,33.0,0.0,4.0,39.0,2.000000,1.181818,1.228571
2016-10-24 07:20:00,40.0,34.0,6.0,28.0,0.0,12.0,28.0,2.000000,1.000000,1.176471
2016-10-24 07:40:00,49.0,43.0,5.0,38.0,0.0,11.0,38.0,2.200000,1.000000,1.139535
2016-10-24 15:00:00,55.0,50.0,4.0,46.0,0.0,9.0,46.0,2.250000,1.000000,1.100000
2016-10-24 15:20:00,51.0,47.0,4.0,43.0,0.0,8.0,43.0,2.000000,1.000000,1.085106
2016-10-24 15:40:00,27.0,26.0,1.0,25.0,0.0,2.0,25.0,2.000000,1.000000,1.038462
2016-10-24 16:00:00,51.0,49.0,2.0,47.0,0.0,4.0,47.0,2.000000,1.000000,1.040816
2016-10-24 16:20:00,59.0,50.0,5.0,45.0,0.0,11.0,48.0,2.200000,1.066667,1.180000
2016-10-24 16:40:00,50.0,44.0,3.0,41.0,0.0,6.0,44.0,2.000000,1.073171,1.136364

In [31]:
# 转换预测集，将预测集训练成和预测集第一个模型的格式相同（entry方向）
# se_temp = pd.Series()
#         for k in range(6):
#             se_temp = se_temp.append(volume_all_entry.iloc[i + k, :])
#         se_temp = se_temp.append(pd.Series(volume_entry.iloc[i + 6 + j, 0]))
#         se_temp.index = new_index
#         se_temp.name = str(volume_entry.iloc[i, :].index)
#         train_df = train_df.append(se_temp)
test_entry_df = pd.DataFrame()
i = 0
while i < len(volume_entry_test) - 5:
#     df_temp = volume_entry_test.iloc[i:i + 6, 0].T
#     df_temp.index = range(6)
#     df_temp.name = volume_entry_test.index[i]
#     test_entry_df = test_entry_df.append(df_temp)
    se_temp = pd.Series()
    for k in range(6):
        se_temp = se_temp.append(volume_entry_test.iloc[i + k, :])
    se_temp.index = new_index[:-1]
    se_temp.name = volume_entry_test.index[i]
    test_entry_df = test_entry_df.append(se_temp)
    i = i + 6

predict_test_entry = pd.DataFrame()
for i in range(6):
    test_y = models_entry[i].predict(test_entry_df)
    predict_test_entry[i] = test_y
predict_test_entry.index = test_entry_df.index
predict_test_entry

,0,1,2,3,4,5
2016-10-18 06:00:00,42.198929,47.731464,45.547857,48.998597,45.912800,46.361487
2016-10-18 15:00:00,50.063449,45.398834,43.618682,43.022126,43.363674,37.567023
2016-10-19 06:00:00,39.272157,43.316087,45.036237,46.333962,43.617404,50.034161
2016-10-19 15:00:00,40.779073,39.519213,39.960858,38.215779,36.057685,38.604606
2016-10-20 06:00:00,37.682464,38.303025,38.846318,37.412759,43.519615,41.950530
2016-10-20 15:00:00,39.840045,36.545085,36.174826,35.942027,34.952565,33.660654
2016-10-21 06:00:00,42.204678,42.501872,45.526669,46.115939,46.035806,43.920121
2016-10-21 15:00:00,56.587748,52.349114,50.125544,48.192973,44.261718,41.412782
2016-10-22 06:00:00,36.079005,38.093565,39.396312,45.108319,38.682095,45.469108
2016-10-22 15:00:00,53.739840,50.869219,47.880927,45.814197,46.231233,44.226184
2016-10-23 06:00:00,31.529601,27.379604,39.552126,35.836055,41.383598,37.391379
2016-10-23 15:00:00,54.797413,53.841934,49.869054,46.996827,44.520475,40.923547
2016-10-24 06:00:00,42.354573,47.116568,42.422427,46.250677,46.781313,42.521566
2016-10-24 15:00:00,44.866638,45.913449,41.708550,45.071642,41.006961,40.130353

In [32]:
# 转换预测集，将预测集训练成和预测集第一个模型的格式相同（exit方向）
test_exit_df = pd.DataFrame()
i = 0
while i < len(volume_exit_test) - 5:
#     df_temp = volume_exit_test.iloc[i:i + 6, 0].T
#     df_temp.index = range(6)
#     df_temp.name = volume_exit_test.index[i]
#     test_exit_df = test_exit_df.append(df_temp)
    se_temp = pd.Series()
    for k in range(6):
        se_temp = se_temp.append(volume_exit_test.iloc[i + k, :])
    se_temp.index = new_index[:-1]
    se_temp.name = volume_exit_test.index[i]
    test_exit_df = test_exit_df.append(se_temp)
    i = i + 6

predict_test_exit = pd.DataFrame()
for i in range(6):
    test_y = models_exit[i].predict(test_exit_df)
    predict_test_exit[i + 6] = test_y
predict_test_exit.index = test_exit_df.index
predict_test_exit

,6,7,8,9,10,11
2016-10-18 06:00:00,106.882572,115.110885,114.905444,119.686593,116.678623,116.090787
2016-10-18 15:00:00,100.694801,100.254568,98.786356,90.804477,86.277552,88.319049
2016-10-19 06:00:00,101.264903,108.386817,108.071692,118.030173,110.520891,109.056746
2016-10-19 15:00:00,85.763441,78.584154,77.230490,74.050966,66.700992,56.802325
2016-10-20 06:00:00,101.737046,111.244933,117.551241,115.814593,111.008602,100.601402
2016-10-20 15:00:00,100.944119,99.261909,93.450259,83.602863,84.941295,83.974078
2016-10-21 06:00:00,105.972998,101.717525,103.191332,114.916207,108.082640,95.904050
2016-10-21 15:00:00,99.159808,98.159019,83.612844,81.424298,69.341833,66.892465
2016-10-22 06:00:00,86.795713,92.729160,95.868054,103.640067,113.609076,100.721501
2016-10-22 15:00:00,80.368514,74.618847,67.497068,65.992392,55.829948,56.260255
2016-10-23 06:00:00,71.793548,74.074404,70.200433,80.155038,74.458346,78.917379
2016-10-23 15:00:00,97.179444,76.916063,76.953762,69.367712,58.260510,43.348086
2016-10-24 06:00:00,123.314258,122.736276,122.408401,117.774894,121.286560,110.521704
2016-10-24 15:00:00,102.149902,108.835435,96.533683,87.037580,93.573738,83.462942

In [72]:
def transform_predict(predict_original, direction, tollgate_id):
    result = pd.DataFrame()
    for i in range(len(predict_original)):
        time_basic = predict_original.index[i]
        for j in range(6, 12, 1):
            time_window = "[" + str(time_basic + DateOffset(minutes=j * 20)) + "," + str(time_basic + DateOffset(minutes=(j + 1) * 20)) + ")"
            series = pd.Series({"tollage_id": tollgate_id, 
                                "time_window": time_window, 
                                "direction": direction, 
                                "volume": predict_original.iloc[i, j]})
            series.name = i + j - 6
            result = result.append(series)
    return result

print transform_predict(predict_test_entry, "entry", "1S")

   direction                                time_window tollage_id     volume
0      entry  [2016-10-18 08:00:00,2016-10-18 08:20:00)         1S  45.806886
1      entry  [2016-10-18 08:20:00,2016-10-18 08:40:00)         1S  52.958557
2      entry  [2016-10-18 08:40:00,2016-10-18 09:00:00)         1S  57.946432
3      entry  [2016-10-18 09:00:00,2016-10-18 09:20:00)         1S  61.429576
4      entry  [2016-10-18 09:20:00,2016-10-18 09:40:00)         1S  65.694853
5      entry  [2016-10-18 09:40:00,2016-10-18 10:00:00)         1S  77.994429
1      entry  [2016-10-18 17:00:00,2016-10-18 17:20:00)         1S  49.460976
2      entry  [2016-10-18 17:20:00,2016-10-18 17:40:00)         1S  48.004843
3      entry  [2016-10-18 17:40:00,2016-10-18 18:00:00)         1S  47.042836
4      entry  [2016-10-18 18:00:00,2016-10-18 18:20:00)         1S  43.703965
5      entry  [2016-10-18 18:20:00,2016-10-18 18:40:00)         1S  43.210875
6      entry  [2016-10-18 18:40:00,2016-10-18 19:00:00)         1S  42.469128
2      entry  [2016-10-19 08:00:00,2016-10-19 08:20:00)         1S  45.778063
3      entry  [2016-10-19 08:20:00,2016-10-19 08:40:00)         1S  54.136510
4      entry  [2016-10-19 08:40:00,2016-10-19 09:00:00)         1S  55.722293
5      entry  [2016-10-19 09:00:00,2016-10-19 09:20:00)         1S  62.755167
6      entry  [2016-10-19 09:20:00,2016-10-19 09:40:00)         1S  68.071011
7      entry  [2016-10-19 09:40:00,2016-10-19 10:00:00)         1S  67.733734
3      entry  [2016-10-19 17:00:00,2016-10-19 17:20:00)         1S  40.362131
4      entry  [2016-10-19 17:20:00,2016-10-19 17:40:00)         1S  37.340763
5      entry  [2016-10-19 17:40:00,2016-10-19 18:00:00)         1S  37.765572
6      entry  [2016-10-19 18:00:00,2016-10-19 18:20:00)         1S  35.517648
7      entry  [2016-10-19 18:20:00,2016-10-19 18:40:00)         1S  35.615183
8      entry  [2016-10-19 18:40:00,2016-10-19 19:00:00)         1S  35.522336
4      entry  [2016-10-20 08:00:00,2016-10-20 08:20:00)         1S  42.227007
5      entry  [2016-10-20 08:20:00,2016-10-20 08:40:00)         1S  46.656446
6      entry  [2016-10-20 08:40:00,2016-10-20 09:00:00)         1S  49.426022
7      entry  [2016-10-20 09:00:00,2016-10-20 09:20:00)         1S  53.678165
8      entry  [2016-10-20 09:20:00,2016-10-20 09:40:00)         1S  57.933120
9      entry  [2016-10-20 09:40:00,2016-10-20 10:00:00)         1S  64.852525
..       ...                                        ...        ...        ...
9      entry  [2016-10-22 17:00:00,2016-10-22 17:20:00)         1S  52.845944
10     entry  [2016-10-22 17:20:00,2016-10-22 17:40:00)         1S  49.032704
11     entry  [2016-10-22 17:40:00,2016-10-22 18:00:00)         1S  48.128409
12     entry  [2016-10-22 18:00:00,2016-10-22 18:20:00)         1S  44.820980
13     entry  [2016-10-22 18:20:00,2016-10-22 18:40:00)         1S  45.323770
14     entry  [2016-10-22 18:40:00,2016-10-22 19:00:00)         1S  43.484768
10     entry  [2016-10-23 08:00:00,2016-10-23 08:20:00)         1S  33.104438
11     entry  [2016-10-23 08:20:00,2016-10-23 08:40:00)         1S  40.480996
12     entry  [2016-10-23 08:40:00,2016-10-23 09:00:00)         1S  46.258696
13     entry  [2016-10-23 09:00:00,2016-10-23 09:20:00)         1S  54.131867
14     entry  [2016-10-23 09:20:00,2016-10-23 09:40:00)         1S  63.248401
15     entry  [2016-10-23 09:40:00,2016-10-23 10:00:00)         1S  68.437739
11     entry  [2016-10-23 17:00:00,2016-10-23 17:20:00)         1S  54.195177
12     entry  [2016-10-23 17:20:00,2016-10-23 17:40:00)         1S  55.664792
13     entry  [2016-10-23 17:40:00,2016-10-23 18:00:00)         1S  53.584304
14     entry  [2016-10-23 18:00:00,2016-10-23 18:20:00)         1S  51.339410
15     entry  [2016-10-23 18:20:00,2016-10-23 18:40:00)         1S  50.177817
16     entry  [2016-10-23 18:40:00,2016-10-23 19:00:00)         1S  47.908991
12     entry  [2016-10-24 08:00:00,2016-10-24 08:20:00)         1S  44.338338
13     entry  [2016-10-24 08:20:00,2016-10-24 08:40:00)         1S  44.707088
14     entry  [2016-10-24 08:40:00,2016-10-24 09:00:00)         1S  45.944434
15     entry  [2016-10-24 09:00:00,2016-10-24 09:20:00)         1S  49.322105
16     entry  [2016-10-24 09:20:00,2016-10-24 09:40:00)         1S  50.926596
17     entry  [2016-10-24 09:40:00,2016-10-24 10:00:00)         1S  50.456665
13     entry  [2016-10-24 17:00:00,2016-10-24 17:20:00)         1S  46.601917
14     entry  [2016-10-24 17:20:00,2016-10-24 17:40:00)         1S  45.133093
15     entry  [2016-10-24 17:40:00,2016-10-24 18:00:00)         1S  44.999865
16     entry  [2016-10-24 18:00:00,2016-10-24 18:20:00)         1S  44.567908
17     entry  [2016-10-24 18:20:00,2016-10-24 18:40:00)         1S  44.444120
18     entry  [2016-10-24 18:40:00,2016-10-24 19:00:00)         1S  43.455471

[84 rows x 4 columns]