In [1]:
import pandas as pd
import numpy as np

In [29]:
train_df = pd.read_csv("volume_entry_train_1Soffset0.csv")
train_df.head()

,Unnamed: 0,cargo_count0,cargo_count1,cargo_count2,cargo_count3,cargo_count4,cargo_count5,cargo_model0,cargo_model1,cargo_model2,...,volume_all,etc_all_count,vehicle_all_model_avg,cargo_all_model_avg,passenger_all_model_avg,day,hour,minute,week,weekend
0,2016-09-19 00:00:00,3.0,0.0,2.0,3.0,3.0,1.0,12.0,0.0,7.0,...,62.0,10.0,1.629032,4.083333,1.061224,19,2,0,0,0
1,2016-09-19 00:20:00,0.0,2.0,3.0,3.0,1.0,3.0,0.0,7.0,15.0,...,56.0,7.0,1.750000,4.083333,1.139535,19,2,20,0,0
2,2016-09-19 00:40:00,2.0,3.0,3.0,1.0,3.0,7.0,7.0,15.0,10.0,...,60.0,7.0,1.916667,3.631579,1.150000,19,2,40,0,0
3,2016-09-19 01:00:00,3.0,3.0,1.0,3.0,7.0,5.0,15.0,10.0,5.0,...,57.0,6.0,2.070175,3.545455,1.176471,19,3,0,0,0
4,2016-09-19 01:20:00,3.0,1.0,3.0,7.0,5.0,4.0,10.0,5.0,12.0,...,56.0,5.0,2.053571,3.347826,1.187500,19,3,20,0,0

In [30]:
print train_df.shape
train_df.info()

(2082, 84)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2082 entries, 0 to 2081
Data columns (total 84 columns):
Unnamed: 0                 2082 non-null object
cargo_count0               2082 non-null float64
cargo_count1               2082 non-null float64
cargo_count2               2082 non-null float64
cargo_count3               2082 non-null float64
cargo_count4               2082 non-null float64
cargo_count5               2082 non-null float64
cargo_model0               2082 non-null float64
cargo_model1               2082 non-null float64
cargo_model2               2082 non-null float64
cargo_model3               2082 non-null float64
cargo_model4               2082 non-null float64
cargo_model5               2082 non-null float64
cargo_model_avg0           1508 non-null float64
cargo_model_avg1           1508 non-null float64
cargo_model_avg2           1509 non-null float64
cargo_model_avg3           1508 non-null float64
cargo_model_avg4           1507 non-null float64
cargo_model_avg5           1507 non-null float64
etc_count0                 2082 non-null float64
etc_count1                 2082 non-null float64
etc_count2                 2082 non-null float64
etc_count3                 2082 non-null float64
etc_count4                 2082 non-null float64
etc_count5                 2082 non-null float64
no_count0                  2082 non-null float64
no_count1                  2082 non-null float64
no_count2                  2082 non-null float64
no_count3                  2082 non-null float64
no_count4                  2082 non-null float64
no_count5                  2082 non-null float64
passenger_count0           2082 non-null float64
passenger_count1           2082 non-null float64
passenger_count2           2082 non-null float64
passenger_count3           2082 non-null float64
passenger_count4           2082 non-null float64
passenger_count5           2082 non-null float64
passenger_model0           2082 non-null float64
passenger_model1           2082 non-null float64
passenger_model2           2082 non-null float64
passenger_model3           2082 non-null float64
passenger_model4           2082 non-null float64
passenger_model5           2082 non-null float64
passenger_model_avg0       1638 non-null float64
passenger_model_avg1       1638 non-null float64
passenger_model_avg2       1638 non-null float64
passenger_model_avg3       1638 non-null float64
passenger_model_avg4       1638 non-null float64
passenger_model_avg5       1638 non-null float64
vehicle_model0             2082 non-null float64
vehicle_model1             2082 non-null float64
vehicle_model2             2082 non-null float64
vehicle_model3             2082 non-null float64
vehicle_model4             2082 non-null float64
vehicle_model5             2082 non-null float64
vehicle_model_avg0         1648 non-null float64
vehicle_model_avg1         1648 non-null float64
vehicle_model_avg2         1648 non-null float64
vehicle_model_avg3         1648 non-null float64
vehicle_model_avg4         1648 non-null float64
vehicle_model_avg5         1648 non-null float64
volume0                    2082 non-null float64
volume1                    2082 non-null float64
volume2                    2082 non-null float64
volume3                    2082 non-null float64
volume4                    2082 non-null float64
volume5                    2082 non-null float64
y                          2082 non-null float64
vehicle_all_model          2082 non-null float64
cargo_all_model            2082 non-null float64
passenger_all_model        2082 non-null float64
no_all_count               2082 non-null float64
cargo_all_count            2082 non-null float64
passenger_all_count        2082 non-null float64
volume_all                 2082 non-null float64
etc_all_count              2082 non-null float64
vehicle_all_model_avg      1655 non-null float64
cargo_all_model_avg        1655 non-null float64
passenger_all_model_avg    1655 non-null float64
day                        2082 non-null int64
hour                       2082 non-null int64
minute                     2082 non-null int64
week                       2082 non-null int64
weekend                    2082 non-null int64
dtypes: float64(78), int64(5), object(1)
memory usage: 1.3+ MB

In [31]:
train_df.dropna().shape

(1090, 84)

In [ ]:
# cargo_count0~cargo_count5, etc_count0~etc_count5, no_count0~no_count5, 
# passenger_count0~passenger_count5, vehicle_model0~vehicle_model5,